/* <!---------------------------------============= START STUDIO =================---------------------------------> */

:root {
  --normal-color: #212121;
  --description-color: #757575;
  --active-color: #2196f3;
  --background-color: #2f303a;
  --contact-color: #999999;
  --footer-text-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Roboto";
  color: var(--normal-color);
  margin: 0px;
}

.footer {
  font-size: 14px;
  line-height: 1.7;
  color: var(--footer-text-color);
  position: absolute;
  background: var(--background-color);
  left: 0px;
  right: 0px;
  height: 252px;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* <!--------------------------------------- HEADER --------------------------------------- --> */

.web {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
}

.studio {
  color: #212121;
  font-family: "Roboto", sans-serif;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  margin-right: 70px;
}

.header {
  display: flex;
  align-items: center;
  height: 80px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  align-items: center;
}

.menu {
  display: block;
  list-style-type: disc;
  /* margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px; */
}

.menu-link {
  color: #212121;
  list-style-type: none;
  display: inline;
  margin-right: 50px;
}

.fixed-studio {
  color: #2196f3;
}

.menu-link:hover {
  color: #2196f3;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-contacts {
  margin-left: 22px;
}

.menu-contacts-item {
  color: #757575;
  display: inline;
  margin-left: 50px;
}

.menu-contacts-item:hover,
.menu-contacts-item:focus {
  color: #2196f3;
}

.menu-contacts-item:hover .header-svg,
.menu-contacts-item:focus .header-svg {
  fill: #2196f3;
}

.menu-tel:hover,
.menu-tel:focus {
  color: #2196f3;
}

/* <!--------------------------------------- END HEADER --------------------------------------- --> */

/* <!--------------------------------------- HERO --------------------------------------- --> */

.first-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bg.jpg");
  max-width: 1600px;
}

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
}

.first-heading-title {
  color: #ffffff;
  font-weight: 100%;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 200px;
  font-size: 44px;
  line-height: 64px;
  text-align: center;
}

.first-heading-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  margin-bottom: 210px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  border-width: 0px;
  height: 50px;
  width: 200px;
  cursor: pointer;
}

.first-heading-button:focus,
.first-heading-button:hover {
  background-color: #188ce8;
}

.info-box {
  margin-top: 94px;
  margin-bottom: 94px;
}

.info-list {
  display: flex;
}

.info-item {
  padding-right: 44px;
}

.info-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.info-suptitle {
  font-size: 14px;
  line-height: 1.7;
  color: var(--description-color);
}

.second-heading-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
}

.second-heading-gallery {
  display: flex;
  justify-content: space-between;
}

.info-gallery-item:last-child(-3) {
  margin-right: 30px;
}

.team-box {
  background-color: #f5f4fa;
  margin-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  padding-top: 94px;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.team-list {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 90px;
}

.team-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
  height: 434px;
  background-color: #fff;
}

.team-name {
  padding-top: 30px;
}

.team-speciality {
  padding-top: 10px;
  font-size: 16px;
  line-height: 1.2;
  color: var(--description-color);
}

/* <!--------------------------------------- END HERO --------------------------------------- --> */

/* <!--------------------------------------- FOOTER --------------------------------------- --> */

.footer-wrapper {
  display: flex;
  margin: 60px 0px 0px 215px;
}

.footer-wrapper-contacts {
  display: flex;
  flex-direction: column;
  /* margin: 0px 0px 0px 215px; */
}

.footer-logo {
  font-weight: 700;
  font-size: 26px;
  /* margin: 60px 70px 20px 215px; */
  display: inline-block;
  margin-bottom: 20px;
}

.footer-studio {
  color: white;
}

.footer-contacts {
  /* margin: 0px 70px 20px 215px; */
  display: inline-block;
}

.footer-contacts-item {
  color: #757575;
  display: block;
}

/* .footer-icon {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
} */

.join {
  display: inline-block;
  margin-left: 70px;
  padding-top: 14px;
}

.join-title {
  font-family: "Roboto";
  font-weight: 700;
  text-transform: uppercase;
}

.footer-item {
  margin-bottom: 9px;
}

/* <!--------------------------------------- END FOOTER --------------------------------------- --> */

/* <!---------------------------------=================  END STUDIO  ================---------------------------------> */

/* <!---------------------------------=================  START PORTFOLIO  ================---------------------------------> */

/* <!--------------------------------------- HEADER --------------------------------------- --> */

.header-border-bottom {
  border: 1px solid #ececec;
}

.fixed-portfolio {
  color: #2196f3;
}

/* <!--------------------------------------- END HEADER --------------------------------------- --> */

/* <!--------------------------------------- HERO --------------------------------------- --> */

.buttons {
  height: 182px;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 182px;
  width: 610px;
}

.button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  font-weight: 100%;
  background: #f5f4fa;
  color: #212121;
  padding: 6px 22px;
  border-width: 0px;
  font-size: 16px;
  font-weight: 500;
}

.button:hover,
.button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  height: 100%;
}

.portfolio-img-item {
  border: 1px solid #eeeeee;
}

.portfolio-img-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-img-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-card {
  /* width: 100%;      */
  padding: 4px 24px 20px;
}

.portfolio-title {
  padding-top: 20px;
}

.portfolio-cards {
  margin-bottom: 94px;
}

/* <!--------------------------------------- END HERO --------------------------------------- --> */

/* <!---------------------------------------  FOOTER --------------------------------------- --> */

.portfolio-footer {
  margin-top: 94px;
}

/* <!--------------------------------------- END FOOTER --------------------------------------- --> */

/* <!---------------------------------=================  END PORTFOLIO  ================---------------------------------> */

/* <!---------------------------------=================  SVG  ================---------------------------------> */

.header-svg {
  width: 17px;
  height: 13px;
  fill: black;
}

.svg {
  width: 70px;
  height: 70px;
  fill: black;
}

.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  height: 100px;
  padding: 25px 0px;
}

.icon-info-box {
  width: 65px;
  height: 70px;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  padding: 11px 11px 13px 12px;
}

.icon-card-contacts {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 16px 0px 30px 0px;
}

.card-contacts {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.card-contacts:hover,
.card-contacts:focus {
  background-color: #2196f3;
}

.card-contacts:hover .icon,
.card-contacts:focus .icon {
  fill: white;
}

.regular-customers-title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 94px 0px 50px;
}

.companies-list {
  display: flex;
  margin-left: 40px;
  margin-bottom: 94px;
}

.companie-ya-go {
  width: 41px;
  height: 47px;
}

.companie-company-tagline-here {
  width: 40px;
  height: 52px;
}

.companie-company {
  width: 43px;
  height: 41px;
}

.companie-foster-peters {
  width: 84px;
  height: 40px;
}

.companie-brand {
  width: 62px;
  height: 45px;
}

.companie-company-tag-line {
  width: 94px;
  height: 44px;
}

.company-item {
  flex-basis: calc((100% - 54px) / 6);
  margin-right: 30px;
}

.companies-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid #eaeefc;
  border-radius: 4px;
}

.companies-link:hover {
  border: 1px solid #2196f3;
}

.company-svg {
  fill: #afb1b8;
}

.companies-link:hover .company-svg,
.companies-link:focus .company-svg {
  fill: #2196f3;
}

/* -------------------footer icons---------------- */
.footer-icon {
  width: 20px;
  height: 20px;
  fill: white;
  padding: 11px 11px 13px 12px;
}

.footer-card-contacts:hover,
.footer-card-contacts:focus {
  background-color: #2196f3;
}

.footer-card-contacts:hover .footer-icon,
.footer-card-contacts:focus .footer-icon {
  fill: white;
}

.footer-card-contacts {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-icon-card-contacts {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 16px 0px 30px 0px;
}

/* ------------------end footer icons----------------- */

/* .compaines {
} */

/* .card-contacts */

/* <!---------------------------------=================  SVG  ================---------------------------------> */ ;
